---
export interface Props {
  title: string;
  lang?: string;
}
import SeoHead from '../components/SeoHead.astro';
import TopHeader from "../components/TopHeader.astro";
import Header from "../components/Header.astro";
import { getTranslation } from '../i18n';

const { title, lang = 'en' } = Astro.props;
const t = getTranslation(lang);
---


<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Astrobrew is a free and open-source elegant landing page for Micro SaaS products built with Astro & Skeleton CSS"/>
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <!-- ✅ ฟอนต์ 3 ภาษา -->
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Sarabun&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap" rel="stylesheet" />

    <!-- Skeleton CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <SeoHead 
    title="96 MATERIALS - วัสดุก่อสร้างคุณภาพ"
    description="เหล็ก ปูน ไม้ ฮาร์ดแวร์ ราคาดี มีคุณภาพ ส่งไวถึงที่"
    lang="th"
  />
  </head>
  <body>
    <div class="sticky-header">
      <TopHeader lang={lang} />
      <Header t={t} lang={lang} />
    </div>
    <slot />
  </body>
</html>

<style lang="scss" is:global>
/* ✅ ฟอนต์แยกตามภาษา */
html[lang="th"] {
  // --main-font: 'Sarabun', sans-serif;
  --main-font: 'kanit', sans-serif;
}
html[lang="en"] {
  --main-font: 'Ubuntu', sans-serif;
}
html[lang="zh"] {
  --main-font: 'Noto Sans SC', sans-serif;
}


/* -------------------------------- */

body {
  font-family: var(--main-font, sans-serif);
  padding-top: 100px;
}

:root {
  --accent: #6882e0;
  --tenary: #3512fb;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

body, html {
  scroll-behavior: smooth;
  margin: 0px;
}

.block { display: block; }
.h1-title, .h2-title { font-weight: 500; }
.h1-title { font-size: 4.2rem; }
.h2-title { font-size: 3rem; }
.h3-title { font-size: 2.5rem; }

.text-container {
  max-width: 500px;
  margin: 0 auto;
}

.center { text-align: center; }

@mixin btnPrimary {
  background-color: var(--accent);
  border-color: var(--accent);
}

.button {
  border-radius: 40px;
  text-transform: none;
  font-weight: 500;
  font-size: 1.4rem;
  &.button-primary {
    @include btnPrimary;
    &:hover, &:focus, &:active {
      @include btnPrimary;
    }
  }
  &.lg {
    height: 50px;
    line-height: 48px;
  }
}

.flex { display: flex; }
section.padded { padding: 10px 0; }

@media (max-width: 900px) {
  .h1-title {
    font-size: 3.2rem;
  }
}
</style>